<div class="container">
  <p class="title">{{ title }}</p>
  <div style="background: {{ cardStyle }}" class="card">
    <p class="card-title">{{ subTitle }}</p>
    <p class="card-content">
      {{ content }}
    </p>
    <div class="brand-wrapper">
      <ng-container *ngFor="let path of paths">
        <div
          class="border-class border-{{
            path.split('/').slice(1).join('').split('.')[0]
          }}"
        >
          <i> <img [src]="path" /> </i>
        </div>
      </ng-container>
    </div>
  </div>
</div>
